<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                    </div>
                    <div class="6u"></div>
                </div>
            </div>
            <div class="6u"></div>
        </div>
        <ul class="copyright">
            <li>&copy   ;{{ site.time | date: '%Y' }} by Tom Kraft Design</li>
            <li>Ion Theme by <a href="http://templated.co">Templated</a></li>
        </ul>
    </div>
</footer>
