---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta"></p>
        </header>

<!-- Post -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="9u">
                    <section>
                        {{ content }}
                    </section>
                </div>
                <div class="3u">
                    <section class="project-image">
                        <a href="{{ page.site_url }}" title="Visit {{ page.title }}">
                            <img src="{{ page.featured_image }}" alt="Thumbnail for {{ page.title }}">
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </section>          
        
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </article>

</div>
